---
layout: page
description: "잼잼 개발자"
---

{% for post in paginator.posts %}
{% unless post.hidden %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        {{ post.date | date: "%Y년 %m월 %d일" }} · {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}
    </p>
</div>
<hr>
{% endunless %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 이전 글</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">다음 글 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}