<!-- 카카오광고 -->
{% if site.kakao_adfit_open %}
<div class="kakao_ad_slot kakao_ad_slot--sidebar kakao_ad_slot--desktop">
  <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-QBkwFYsmmGqObnoc" data-ad-width="160"
    data-ad-height="600"></ins>
</div>
<div class="kakao_ad_slot kakao_ad_slot--sidebar kakao_ad_slot--mobile">
  <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-J8MV2KpWNAZxxLL0" data-ad-width="300"
    data-ad-height="250"></ins>
</div>
{% endif %}

<!-- 구글 광고 -->
{% if site.google_ads_open %}
<ins class="adsbygoogle adsbygoogle-slot" data-ad-client="{{site.googl_ca_pub}}" data-ad-slot="6682135131"
  data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{% endif %}
