<div class="sidebar-ads">
  {% if site.kakao_adfit_open %}
  {% include kakao-ad-slot.html
    wrapper_class="kakao_length_width"
    desktop_unit="DAN-QBkwFYsmmGqObnoc"
    desktop_w=160
    desktop_h=600
    mobile_unit="DAN-J8MV2KpWNAZxxLL0"
    mobile_w=300
    mobile_h=250
  %}
  {% endif %}

  {% if site.google_ads_open %}
  <ins class="adsbygoogle" style="display:block" data-ad-client="{{site.googl_ca_pub}}" data-ad-slot="6682135131"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}
</div>
