{% if site.kakao_adfit_open %}
<div class="kakao_ad_slot kakao_ad_slot--footer kakao_ad_slot--desktop">
  <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-On7lIXOSb12tJqZy" data-ad-width="728"
    data-ad-height="90"></ins>
</div>
<div class="kakao_ad_slot kakao_ad_slot--footer kakao_ad_slot--mobile">
  <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-F0yafCvdnsVOuGC9" data-ad-width="320"
    data-ad-height="100"></ins>
</div>
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
{% endif %}

{% if site.google_ads_open %}
<ins class="adsbygoogle adsbygoogle-slot" data-ad-format="autorelaxed" data-ad-client="{{site.googl_ca_pub}}"
  data-ad-slot="8771447121"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
