{% if site.kakao_adfit_open %}
{% include kakao-ad-slot.html
  wrapper_class="kakao_footer_width"
  desktop_unit="DAN-On7lIXOSb12tJqZy"
  desktop_w=728
  desktop_h=90
  mobile_unit="DAN-F0yafCvdnsVOuGC9"
  mobile_w=320
  mobile_h=100
%}
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
{% endif %}

{% if site.google_ads_open %}
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="{{site.googl_ca_pub}}"
  data-ad-slot="8771447121"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
